# Non Required folders
minio_data/*
jars/*.jar
data/warehouse/
notebooks/.ipynb_checkpoints
docker-compose.generated.yaml
.DS_Store
requirements-local.txt
spark_apps/test_scripts/

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
